<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Wechat</span> yuancaij1
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/codeyuyu/chatgpt-web" target="_blank">
      Source Code
    </a>
  </p>
</footer>
